.sidebar {
  position: sticky;
  top: 0;
  width: 20%;
  height: 100svh;
  z-index: 9999;
}

@media (min-width: 1600px) {
  .sidebar {
    width: 20%;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: 100px;
  }
}
