@use "./../../../styles/variables" as variables;

.userMenu {
  background-color: variables.$theme-color-dark;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &Avatar {
    height: 50px;
    width: 50px;
    svg {
      path {
        fill: variables.$theme-color;
      }
    }
  }
  &Categories {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: self-start;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px;
    background-color: #4f414176;

    // WebKit support
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fbab20;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    button {
      transition: 0.4s ease;
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #fbab20;
      }
    }
  }
  &Hamburger {
    display: none;
  }
  &Logo {
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
    a {
      svg {
        height: 100%;
        width: 100%;
        path {
          fill: variables.$theme-color;
        }
      }
    }
  }
  .active {
    color: #fbab20;
  }
}

.cat_hamburger_container {
  // display: none;
}

@media (max-width: 1400px) {
  .userMenu {
    &Categories {
      button {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cat_hamburger_container {
    position: absolute;
    background-color: #4f4141;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    top: 100px;
    left: 0;
    &_buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
      button {
        padding-left: 20px;
        color: #fff;
        width: 100%;
        text-align: left;
        font-size: 1rem;
        transition: 0.4s ease;
        &:hover {
          color: #fbab20;
        }
      }
    }
  }
  .userMenu {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    padding: 0 20px;

    &Logo {
      height: 50px;
      width: 100px;
      margin: 0;
    }
    &Categories {
      display: none;
    }
    &Hamburger {
      display: block;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    &Avatar {
      width: fit-content;
      display: flex;
      align-items: center;
      column-gap: 20px;
      a {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.scrollable {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #fbab20 #4f4141;
}
